html {
  font-family: $body-font-stack;
  font-size: em($baseFontSize);
  line-height: em($baseFontSize * 1.5);
  @include regular-body-font;
}

h1, h2, h3, h4, h5, h6 {
  @include bold-body-font;
}

h2, h3, h4, h5, h6 {
  font-family: $body-font-stack;
}

h1, .h1 {
  font-family: $heading-font-stack;
  @include fluidType(64, 80);
  line-height: 1.2em;
}

h2, .h2 {
  @include fluidType(48, 64);
  line-height: 1.4em;
}

h3, .h3 {
  @include fluidType(32, 48);
}

h4, .h4 {
  @include fluidType(24, 32);
}

h5, .h5 {
  @include fluidType(20, 24);
}

h6, .h6 {
  @include fluidType(16, 20);
}
