input[type="checkbox"] {   
  display: none;
}

input[type="checkbox"]:checked+label i {
  visibility: visible;
}

.checkbox-container {
  width: 100%;
  
  .checkbox {
    display: inline-block;
    width: 21px;
    height: 21px;
    padding: 2px;
    border: 2px solid $light-gray;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 0 2px 0 0;
    line-height: 0;
    top: em(-1.5);

    i {
      visibility: hidden;
      position: relative;
      font-size: 13px;
      line-height: 0;
      color: $input-green;

      &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-check);
      }
    }
  }

  label {
    & + label {
      display: inline;
    }
  }
}
