@mixin light-body-font {font-weight: $global-light-body-font-weight;}
@mixin regular-body-font {font-weight: $global-regular-body-font-weight;}
@mixin bold-body-font {font-weight: $global-bold-body-font-weight;}

@mixin light-heading-font {font-weight: $global-light-heading-font-weight;}
@mixin regular-heading-font {font-weight: $global-regular-heading-font-weight;}
@mixin bold-heading-font {font-weight: $global-bold-heading-font-weight;}

@mixin body-font-stack {font-family: $body-font-stack;}
@mixin heading-font-stack {font-family: $heading-font-stack;}

@mixin fluidType($minFontSize: $baseMinFontSize, $maxFontSize: $baseMaxFontSize, $minWidth: $globalMinContentWidth, $maxWidth: $globalMaxContentWidth) {
  font-size: calc(#{em($minFontSize)} + (#{$maxFontSize} - #{$minFontSize}) * ((100vw - #{$minWidth}px) / (#{$maxWidth} - #{$minWidth})));
  @media (max-width: #{$minWidth}px) {font-size: em($minFontSize);}
  @media (min-width: #{$maxWidth}px) { font-size: em($maxFontSize);}
}

@mixin lead-font {
  @include fluidType(20, 24);
  font-weight: 500;
  line-height: 1.75em;
}
