@mixin container-padding($size: full) {
  @if($size == full) {
    // padding: rem($emBase * 2);

    // @media(max-width: rem($globalContainerPaddingBreakpoint)) {
    //     padding: rem($emBase);
    // }

    padding: $globalContainerPadding;
  }

  @if($size == half) {
    // padding: rem($emBase);

    // @media(max-width: rem($globalContainerPaddingBreakpoint)) {
    //     padding: rem($emBase / 2);
    // }

    padding: $globalContainerPadding * 0.5;
  }

  @if($size == double) {
    padding: $globalContainerPadding * 2;
  }
}

@mixin touch-device {
  @media (hover: none) {
    @content;
  }
}

@mixin section-content-spacing($space: $globalContainerPadding) {
  > * + * {
    margin: $space 0 0 0;
    
    // &:not(section) {
    //     margin: rem($space) 0 0 0;
    // }
  }
}

@mixin screen-reader-only {
  position: absolute;
  overflow: hidden;
  top: auto;
  left: -10000px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

@mixin focus {
  &:focus, > *:focus {
    outline: none;
  }

  &:focus > * {
    box-shadow: 0 0 0 2px #0061C7; /* keyboard-only focus styles */
    border-radius: 2px;
  }
}
