@import "../../src/styles/scss/01-config/index";

html.post {
  main {
    padding: #{$globalContainerPadding} #{$globalContainerPadding * 0.5};
    margin: 0;

    section {
      padding: #{$globalContainerPadding * 0.5};
    }

    h1 {
      @include variable-font(2em, 4em);
      margin-bottom: $globalContainerPadding;
    }
  }
}
