.header {
  width: 100%;
  padding: #{rem($em-base * 2)} #{$globalContainerPadding};

  @media(max-width: rem($tp)) {
    padding: $globalContainerPadding;
  }

  &.open {
    background-color: $black;

    .hamburger-menu * {
      background-color: $white;
    }

    .lower-nav {
      visibility: visible;
      opacity: 1;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 5em;
      @include focus;
    }

    svg {
      g {
        @include dark-mode {
          fill: $white;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: rem($tp)) {
      flex-direction: row-reverse;
    }

    > * {
      width: percentage(1/3);

      @media(max-width: rem($tp)) {
        width: 50%;
      }
    }
  }

  a:hover {
    color: $light-black; 
  }

  .main-nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
  
    li {
      & + li {
        margin-left: 2em;
      }
    }
  }

  .social {
    display: flex;
    justify-content: flex-end;
  
    @media(max-width: rem($tp)) {
      display: none;
    }
  
    li {
      &::before {
        display: none;
      }
  
      & + li {
        padding-left: $globalContainerPadding * 2;
      }
  
      a {
        text-decoration: none;
      }
    }
  }

  .hamburger-container {
    display: none;
  
    @media(max-width: rem($tp)) {
      display: flex;
      justify-content: flex-end;
    }
  }
  
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
  
    * {
      background-color: $black;
      height: 2px;
      border-radius: 5px;
      width: 100%;
  
      @include dark-mode {
        background-color: $white;
      }
  
      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }
  }
}
