.social {
  display: flex;
  justify-content: flex-end;

  @media(max-width: rem($tp)) {
    display: none;
  }

  li {
    &::before {
      display: none;
    }

    & + li {
      padding-left: $globalContainerPadding * 2;
    }

    a {
      text-decoration: none;
    }
  }
}
