footer {
  font-family: $alt-font-stack;

  .footer-nav {
    display: flex;
    
    @media(max-width: rem($tp)) {
      flex-direction: column;
      padding: $globalContainerPadding 0;
    }
  
    li {
      padding: $globalContainerPadding;
      line-height: 1em;
  
      @media(max-width: rem($tp)) {
        padding: 1em $globalContainerPadding;
      }
    }
  }  

  .copyright {
    padding: 0 $globalContainerPadding 2em $globalContainerPadding;
    font-size: 90%;
  }
}